body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  overflow: hidden;
}

.navbar_frame {
  overflow: hidden;
}

.page_frame {
  height: 100vh;
  overflow: auto;
}

.ant-layout {
  height: 100vh;
  background: #fff !important;
}

.ant-layout-content {
  background: #fff !important;
}

.ant-menu {
  background-color: #fff;
}

.ant-layout-header {
  background: #fff;
}

.ant-menu-item {
  border-radius: 0 !important;
}

.ant-menu-item-selected {
  border-radius: 0 !important;
}

.ant-menu-item:hover {
  border-radius: 0 !important;
}